{% extends 'base.html' %}

{% block title %}Songs{% endblock %}

{% block content %}

<h2>SONGS</h2>

<table class = "table table-striped table-dark">
<thead>
    <tr>
    <th scope="col">Name</th>
    <th scope="col">Artist</th>
    <th scope="col">Released</th>
    <th scope="col">View</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
    </tr>
</thead>
<tbody>
    {% for song in object_list %}
    <tr>
    <td>{{ song.song_name }}</td>
    <td>{{ song.song_artist }}</td>
    <td>{{ song.release_year }}</td>
    <td><a href="{% url "song_view" song.id %}">view</a></td>
    <td><a href="{% url "song_edit" song.id %}">edit</a></td>
    <td><a href="{% url "song_delete" song.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "song_new" %}">Add new songs</a>


{% endblock %}